<form>

  <div class="form-group">
    <label>ISBN</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Rating</label>
    <input type="number" class="form-control">
  </div>

  <div class="form-group">
    <label>Preis</label>
    <input type="number" class="form-control">
  </div>

</form>
