<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">
          <app-rating [rating]="book.rating"></app-rating>
        </span>
      </h2>
    </div>
    <p>{{ book.description }}</p>
    <p>Preis: {{ book.price | currency:'EUR' }}</p>

    <button type="button" class="btn-green" (click)="doRateUp()"> + </button>
    <button type="button" class="btn-red" (click)="doRateDown()"> – </button>

    <a [routerLink]="['/books', book.isbn]">Details</a>
    <!--<a [routerLink]="'/books/' + book.isbn">Details</a>
      <a routerLink="/books/{{ book.isbn }}">Details</a>
      <a [routerLink]="book.isbn">Details</a>
      <a [routerLink]="[book.isbn]">Details</a>
      <a routerLink="{{ book.isbn }}">Details</a>
    -->
  </div>
</div>
